.navbar {
    background: black;
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    position: fixed;
    top: 0;
    z-index: 3;

}


.logo-container {
    flex-shrink: 0;
}

.LOGO {
    width: 150px; /* Adjust the width to the desired size */
    height: 150px; /* Maintain aspect ratio */
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .LOGO {
        width: 80px; /* Adjust the width for smaller screens */
    }
}

.desktopMenuListItem{
    margin: 1rem;
    cursor: pointer;
}

.desktopMenuListItem:hover {
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;

}

.desktopMenuBtn {
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;   
}
.contact {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.active {
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}

.mobMenu {
    display: none;
    object-fit: cover;
    height: 1.8rem;

}

.navMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 10rem;
    background: black;
    border-radius: 2rem;
}

.ListItem {
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(20, 20, 20);
    
}

@media screen and (max-width:720px) {
    .mobMenu {
        display: flex;
    }

    .desktopMenu {
        
    }
}